.places {
  padding: 0 100px 92px;
}

@media (max-width: 1140px) {
  .places {
    padding: 12px 0 92px;
  }
}

@media (max-width: 800px) {
  .places {
    padding: 14px 0 64px;
  }
}

@media (max-width: 500px) {
  .places {
    padding: 14px 0 40px;
  }
}
