@import url(./vendor/fonts.css);


.page {
    background-color: #2a2c2f;
    font-family: 'Inter', Arial, sans-serif;
    min-height: 100%;
    overflow: hidden;
    padding: 28px 48px 24px;
}

@media (max-width: 860px) {
.page {
    padding: 28px 24px 24px;
}
}

@media (max-width: 500px) {
    .page {
        padding: 16px 16px 24px;
    }
    }

.content {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 52px;
    padding: 0;
}

@media (max-width: 500px) {
    .header {
        max-height: 42px;
    }
}

.header__logo {
    max-width: 176px;
    max-height: 52px;
}

@media (max-width: 500px) {
    .header__logo {
        max-width: 142px;
    max-height: 42px;
    margin-right: 47px;
    }
}


.header__lang-links {
    display: flex;
    color: white;
    align-self: center;
}

.header__lang-link {
    margin-left: 18px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 500px) {
    .header__lang-link {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px; 
    }
}


.header__lang-link_active {
    text-decoration: underline;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.lead {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 984px;
    min-height: 1005px;
}

@media (max-width: 960px) {
.lead {
    max-width: 768px;
    min-height: 862px;
}    
}

@media (max-width: 660px) {
    .lead {
        max-width: 320px;
        min-height: 406px;
    }    
    }

.lead__title {
    margin: 0 auto;
    padding: 56px 0 0 0;
    max-width: 720px;
    max-height: 200px;
    text-align: center;
    color: white;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    font-style: normal;
}

@media (max-width: 720px) {
    .lead__title {
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    padding: 48px 0 0 0;
    margin: 0;  
    }
}

.lead__subtitle {
    margin: 0 auto;
    padding: 32px 0 64px;
    max-width: 640px;
    max-height: 72px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

@media (max-width: 720px) {
    .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
    line-height: 20px;
    padding: 16px 0 40px;
    margin: 0;  
    }
}

.lead__image {
    width: 100%;
    height: 100%;
    align-self: center;
    box-sizing: content-box;
}

@media (max-width: 860px) {
.lead__image {
    min-width: 768px;
    height: 480px;
    margin: 0 -24px 0;
}    
}

@media (max-width: 650px) {
    .lead__image {
        min-width: 320px;
        height: 200px;
        margin: 0 -24px 0;
    }    
    }

.lead__caption {
    margin: 8 auto;
    padding: 0;
    max-width: 158px;
    max-height: 14px;
    color: white;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
}

.intro {
    width: 984px;
    height: 429px;
    margin: 0 auto 0;
    padding: 92px 0 92px;
}

@media (max-width: 740px) {
    .intro {
        max-width: 288px;
        min-height: 754px;
        padding: 64px 0 64px; 
    }    
    }

.intro__title {
    margin: 0;
    padding: 0;
    max-width: 690px;
    min-height: 58px;
    color: white;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
}

@media (max-width: 780px) {
.intro__title {
    max-width: 720px;
    min-height: 58px; 
}    
}

@media (max-width: 760px) {
    .intro__title {
        max-width: 720px;
        min-height: 58px;
        font-size: 32px;
    font-weight: 900;
    line-height: 35px; 
    }    
    }

.intro__text {
    max-width: 690px;
    min-height: 208px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 40px 0 30px;
}

@media (max-width: 780px) {
.intro__text {
    max-width: 720px;
    min-height: 208px; 
}    
}

.intro__list {
    max-width: 690px;
    min-height: 90px; 
    list-style: none;
    padding: 0;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

@media (max-width: 780px) {
.intro__list {
    max-width: 720px;
    min-height: 90px; 
}    
}

.intro__list_span-accent {
    font-weight: 600;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width: 1240px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}


@media (max-width: 780px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
}

@media (max-width: 450px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
}


.photo-grid__item {
    width: 100%;
}

.places {
   padding: 12px 100px 92px;
}

@media (max-width: 1140px) {
.places {
    padding: 12px 0 92px;
}

}

@media (max-width: 740px) {
    .places {
        padding: 0 0 40px;
    }
    
    }

.place {
    display: grid;
    padding-top: 80px;
    grid-template-columns: 460px 484px;
    grid-template-rows: 152px 460px;
    gap: 48px 40px
}

@media (max-width: 740px) {
    .place {
        padding-top: 64px;
    }
    
    }

.place__image {
    width: 100%;
    height: 100%;
}

@media (max-width: 980px) {
.place__image {
    max-width: 340px;
    max-height: 340px;   
}
            
}

@media (max-width: 640px) {
    .place__image {
        min-width: 320px;
        min-height: 320px;
        margin: 0 -16px 0;   
    }
                
    }

@media (max-width: 1140px) {
.place {
    grid-template-columns: 440px 456px;
    grid-template-rows: 152px 440px;
    gap: 48px 32px;
}

}

@media (max-width: 980px) {
.place {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto;
    gap: 48px 28px;
}
    
}

@media (max-width: 640px) {
    .place {
        grid-template-columns: 288px;
        grid-template-rows: auto;
        gap: 32px;
    }
        
    }

.place__main-text {
    display: flex;
    flex-direction: column;
}

.place__title {
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
    align-items: flex-end;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
}

@media (max-width: 980px) {
.place__title {
    font-size: 42px;
    line-height: 46px;
    padding: 0 11px 0 0;    
}
        
}

@media (max-width: 740px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding: 0 11px 0 0;    
    }
            
    }

.place__website {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.place__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
}

@media (max-width: 980px) {
.place__url-heading {
    line-height: 12px;
}
            
}

.place__link {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 0 auto 0 0;
    padding: 0;
}

.place__paragraph {
    color: white;
    margin: 0;
    padding-bottom: 26px;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
}

.place__paragraph:nth-of-type(2) {
    padding: 0;
}

@media (max-width: 980px) {
.place__paragraph {
    font-size: 16px;
    line-height: 26px;
}
                
}

.cover {
    max-width: 1184px;
    min-height: 740px;
    background-image: url(./Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
}

@media (max-width: 1100px) {
.cover {
    max-width: 1024px;
    min-height: 640px;
    margin: 0 -48px 0;
}

}

@media (max-width: 780px) {
.cover {
    max-width: 768px;
    min-height: 480px;
    margin: -26px -24px 0;
    
}
}

@media (max-width: 540px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin: 0 -16px 0;
        
    }
    }


.cover__link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.cover__title {
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
    text-align: center;
    align-self: center;
}

@media (max-width: 540px) {
    .cover__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;  
        
    }
    }

.cover__subtitle {
    color: white;
    margin: 32px auto 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 360px;
    z-index: 2;
    text-align: center;
}

@media (max-width: 540px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;  
        margin: 16px auto 0;
    }
    }

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    padding: 92px 0 0 0;
}

@media (max-width: 500px) {
.footer {
    padding: 64px 0 0 0;
    flex-direction: column;
}
}

.footer__links {
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}

@media (max-width: 500px) {
.footer__links {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    display: inline-block;
    list-style-type: none;
}
}

.footer__link {
    margin: 0 18px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

@media (max-width: 500px) {
.footer__link {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    display: table;
    margin-bottom: 32px;
}
}

.footer__copyright {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    padding: 0;
    align-self: center;
}

@media (max-width: 500px) {
    .footer__copyright {
        margin-top: 16px;
        align-self: flex-start;
    }
    }

.footer__link:hover {
    opacity: 0.8;
}

.place__link:hover {
    opacity: 0.8;
}

.cover__overlay {
    position: absolute;
    opacity: 0.3;
    width: 100%;
    z-index: 1;
}

.cover::before {
    content: "";
    background: rgba(42, 44, 47, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cover:hover::before {
    content: "";
    background: rgba(42, 44, 47, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}