.place__image {
  width: 100%;
  height: 100%;
}

@media (max-width: 980px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;

  }
}

@media (max-width: 720px) {
  .place__image {
    min-width: 100%;
  }
}
