.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 984px;
  padding: 56px 0 0 0;
}

@media (max-width: 1070px) {
  .lead {
    max-width: 928px;
    
  }
}

@media (max-width: 960px) {
  .lead {
    max-width: 768px;

  }
}

@media (max-width: 660px) {
  .lead {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .lead {
    padding: 48px 0 0 0;
  }
}
