.intro {
  width: 984px;
  height: 429px;
  margin: 0 auto 0;
  padding: 92px 0 92px;
}

@media (max-width: 740px) {
  .intro {
    max-width: 288px;
    min-height: 754px;
    padding: 64px 0 64px;
  }
}
