.footer {
  display: flex;
  justify-content: space-between;
  padding: 92px 0 0 0;
}

@media (max-width: 1070px) {
  .footer {
    padding: 92px 48px 0 48px;
  }
}

@media (max-width: 980px) {
  .footer {
    padding: 88px 24px 0 24px;
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 64px 0 0 16px;
    flex-direction: column;
  }
}

