.places__item {
  display: grid;
  padding-top: 80px;
  grid-template-columns: 460px 1fr;
  gap: 48px 40px;
}

@media (max-width: 1070px) {
  .places__item {
    margin: 0 48px 0;
    gap: 48px 32px;
  }
}

@media (max-width: 800px) {
  .places__item {
    margin: 0 24px 0;
    padding-top: 73px;
    gap: 48px 28px;
  }
}

@media (max-width: 980px) {
  .places__item {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto;
    gap: 48px 28px;
  }
}

@media (max-width: 680px) {
  .places__item {
    grid-template-columns: repeat(1, 1fr);
    gap: 32px;
    padding-top: 64px;
  }
}

@media (max-width: 500px) {
  .places__item {
    padding-top: 50px;
    margin: 0;
  }
}
